@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.chart-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px !important;
  margin-top: -7rem !important;
  /* gap: -20rem; */
}

.chart-title {
  font-family: 'Nunito Sans', sans-serif;
  display: inline-block;
  font-size: 1.6rem;
  background-image: linear-gradient(
    90deg,
    rgb(209, 213, 218) 50%,
    rgba(255, 255, 255, 0) 0px
  );
  background-size: 10px 2px;
  padding-bottom: 6px;
  margin-top: 1.5rem;
  background-position: center bottom;
  background-repeat: repeat-x;
}

.chart-card {
  margin: 1.2rem;
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 0rem 1.3rem;
  padding-bottom: 2rem;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.chart-graphBox {
  margin-top: 1.5rem;
}

/* Forks Not Found */
.error-container {
  margin: 5rem auto;
}

.error-icon {
  font-size: 6rem;
}

.error-text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
}

/* Card Loader */

.ripple {
  width: 2rem;
  height: 2rem;
  margin: 7rem auto;
  border-radius: 50%;
  border: 0.3rem solid #000;
  -webkit-transform: translate(50%);
  transform: translate(50%);
  -webkit-animation: 1s ripple ease-out infinite;
  animation: 0.7s ripple ease-out infinite;
}

@-webkit-keyframes ripple {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes ripple {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/* Resposive */
@media screen and (max-width: 500px) {
  .chart-container {
    max-width: 1200px !important;
    margin-top: -4rem !important;
  }
}
