.footer {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(106, 115, 125);
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  margin-top: 4.5rem;
  margin-bottom: 2rem;
  word-spacing: 0.1rem;
  letter-spacing: 1px;
  padding: 0 3rem;
  line-height: 1.5rem;
}

.footer-ref {
  color: rgb(0, 112, 243);
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
}

.footer-ref:hover {
  text-decoration: underline;
}

/* Resposive */
@media screen and (max-width: 500px) {
  .footer {
    padding: 0 0.2rem;
  }
}
